@font-face
{
    font-family: RobotoBold;
    src: url(fonts/robotoBold.ttf);
}

@font-face
{
    font-family: RobotoRegular;
    src: url(fonts/robotoRegular.ttf);
}

body
{
    text-align: center;
    background-image: linear-gradient(#323232, #000000);
}

.text
{
    font-family: RobotoRegular;
    font-size: 15px;
    color: #FFFFFF;
}

.textBold
{
    font-family: RobotoBold;
    font-size: 15px;
    color: #FFFFFF;
}

.pixel
{
    display: inline-block;
    background-color: #000000;
    width: 50px;
    height: 50px;
}

.disableSelect
{
    user-select: none;
}